<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355047378558-j9nkhn6k83pc42m81rdrnu1es2tpa307.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355047378558-j9nkhn6k83pc42m81rdrnu1es2tpa307</string>
	<key>API_KEY</key>
	<string>AIzaSyCfc91al8VxS5KFYIS9NraVWOrj4AZN88c</string>
	<key>GCM_SENDER_ID</key>
	<string>355047378558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reaction.rate</string>
	<key>PROJECT_ID</key>
	<string>reactions-rate</string>
	<key>STORAGE_BUCKET</key>
	<string>reactions-rate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355047378558:ios:65ac432329e3cc6324122f</string>
</dict>
</plist>